<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bcolor">
    <br>
    <br>
    <br>
    <br>
    <div  style="text-align: center;">
        <img src="https://www.edifycit.com/images/logo1.webp" alt="" width="30%";>
    </div>
    <h2 class="color">Register Now</h2>
    <br>
    <FORM class="color" action="register.html" target="_self">
        <table>
            <tr>
                <td>
                    <label for="std">Student Name</label>
                </td>
                <td>
                    <input type="text" name="sname" id="std" class="alignment">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fname">Father Name</label></td>
                <td><input type="text" name="fname" id="fname" class="alignment">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cnic">Student CNIC/ B.Form No.</label></td>
                <td><input type="text" class="alignment" id="cnic" placeholder="xxxxx-xxxxxxx-x">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pn">Phone No.</label></td>
                <td><input type="text" name="phone" id="pn" class="alignment" placeholder="03xx-xxxxxxx">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="city">City:</label>
                </td>
                <td>
                    <input type="text" name="phone" id="pn" class="alignment" placeholder="City">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
            
            <input class="buto" type="submit" name="" id="">
            
        </div>
        
    </FORM>
    <br>
    
</body>
</html>
